<!DOCTYPE html>
<html>

<head>
      <title>404</title>
       <link rel="icon" href="./images/baseline_android_black_18dp.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
   <div class="headerMain">
        {{>header}}
        <p>{{message}}</p>
   </div>
    {{>footer}}
</body>

</html>