<!DOCTYPE html>
<html>

<head>
      <title>Help</title>
       <link rel="icon" href="./images/baseline_android_black_18dp.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="headerMain">
        {{>header}}
    <h5>{{content}}</h5>
    </div>
    {{>footer}}
</body>

</html>